body {
  background-color: blueviolet;
}
.App {
  background-color: brown;
  min-height: 600px;
  width: 400px;
  margin: 40px auto;
}
#todo-form input {
  background-color: burlywood;
  border: 0;
  width: 200px;
  height: 50px;
  padding: 0 20px;
  border-radius: 5px;
  margin: 20px;
  font-size: 20px;
}
#todo-form input:focus {
  outline: none;
}
#todo-form button {
  background-color: chocolate;
  height: 50px;
  width: 70px;
  padding: 0 20px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  font-weight: bolder;
}
